/* Globale Stile */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
}

/* Header */
#app {
  text-align: center;
}

header {
  background: #0159b0;
  padding: 1em;
}
nav a {
  margin: 0 1em;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color:brown;
}

/* Hauptinhalt */
main {
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.05); /* Vergrößert das Produkt beim Hover */
}

.product-image {
  width: 80px; /* Breite des Bildes auf 80 Pixel setzen */
  height: auto; /* Höhe automatisch anpassen */
  border-radius: 4px;
  margin-bottom: 0.5em;
}


/* Buttons */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1em;
  width: 180px; /* Festgelegte Breite für gleiche Größe */
  margin-right: 0.5em; /* Abstand zwischen den Buttons */
}

.button:hover {
  background-color: #0056b3;
}



button:hover {
  background-color: #0056b3;
}

/* Fußzeile */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;

}
.search-input-wrapper {
  position: relative;
}
.search-input-wrapper input[data-search-input=true] {
  display: block;
  font-family: "Inter", system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  padding: 6px 30px 6px 32px;
  font-size: 16px;
  font-weight: normal;
  height: 38px;
  color: #333;
  background-color: #007bf6;
  border: 1px solid #f6f9fc;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out;
}
.search-input-wrapper input[data-search-input=true]:focus {
  background-color: white;
  border-color: #ffffff;
  outline: 0;
  box-shadow: none;
}
.search-input-wrapper .search-icon {
  color: #83add6;
  position: absolute;
}
.search-input-wrapper .search-icon.search {
  left: 12px;
  bottom: 12px;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.search-input-wrapper .search-icon.search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 7px;
  background: #83add6;
  transform: rotate(-45deg);
  top: 11px;
  left: 12px;
}
.search-input-wrapper .search-icon.shortcut {
  width: 22px;
  height: 24px;
  cursor: text;
  right: 8px;
  bottom: 7px;
  background-color: #e7eff7;
  border-radius: 3px;
  z-index: 50;
}
.search-input-wrapper .search-icon.shortcut::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  transform: rotate(25deg);
  width: 2px;
  height: 16px;
  top: 4px;
  left: 10px;
  z-index: 51;
  background-color: #96b9dc;
}
.search-input-wrapper .search-icon.clear {
  right: 5px;
  bottom: 7px;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 40px;
  background: none;
  padding: 0px;
  outline: none;
}
.search-input-wrapper .search-icon.clear:focus {
  background: #e7eff7;
}
.search-input-wrapper .search-icon.clear::after, .search-input-wrapper .search-icon.clear::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: #83add6;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 9px;
  left: 2px;
}
.search-input-wrapper .search-icon.clear::after {
  transform: rotate(-45deg);
}

/* Fix the X appearing in search field on Chrome and IE */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}
