/* Globale Stile */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
}

/* Header */
#app {
  text-align: center;
}

header {
  background: #0159b0;
  padding: 1em;
}
nav a {
  margin: 0 1em;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color:brown;
}

/* Hauptinhalt */
main {
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.05); /* Vergrößert das Produkt beim Hover */
}

.product-image {
  width: 80px; /* Breite des Bildes auf 80 Pixel setzen */
  height: auto; /* Höhe automatisch anpassen */
  border-radius: 4px;
  margin-bottom: 0.5em;
}


/* Buttons */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1em;
  width: 180px; /* Festgelegte Breite für gleiche Größe */
  margin-right: 0.5em; /* Abstand zwischen den Buttons */
}

.button:hover {
  background-color: #0056b3;
}



button:hover {
  background-color: #0056b3;
}

/* Fußzeile */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;

}
